/* Default styles for both desktop and mobile */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  /* Desktop layout */
  
  @media (min-width: 768px) {
    .container {
      grid-template-columns: 1fr 1fr;
    }
    
    .hero {
      background-color: #1c1c1c;
      min-height: 5vh;
      display: grid;
      place-items: center;
    }
  
    .center-image {
      max-width: 75%;
      height: auto;
      max-height: 50vh;
    }
  
    .content {
      background-color: #f8f9fa;
      padding: 2rem 0;
    }
  }
  


  /* Mobile layout */



  @media (max-width: 767px) {
    .hero {
      background-color: #cccccc;
      min-height: 50vh;
      display: grid;
      place-items: center;
    }
  
    .center-image {
      max-width: 80%;
      height: auto;
      max-height: 30vh;
    }
  
    .content {
      background-color: #f8f9fa;
      padding: 2rem 0;
    }
  }
  