:root {
  --primary: #343a40; /* Change this to your desired dark color */
  --secondary: #6c757d; /* Change this to your desired secondary color */
}
.social-icons a i {
    font-size: 3rem;
    color: rgb(226, 0, 0); 
    margin: 6vh 2vh;
}
.navbar-brand p {
    font-size: 30px;
    margin: 1vh 1vh;
}
.navbar-nav .nav-link {
  color: black; /* Set the text color to black */
  position: relative;
  transition: color 0.3s;
}

/* Red underline on hover */
.navbar-nav .nav-link::after {
  content: '';
  width: 0;
  height: 2px;
  background: #ff0000;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: width 0.3s;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}
.col-md-6 h1 {
  font-size: 36px;
  color: #333; /* Your desired color */
  font-weight: bold;
  margin-left: 13vh;
  margin-top: 15vh;
  margin-bottom: 10vh;
  /* Add any other styles you want */
}
.col-md-6 h2 {
    font-size: 24px;
    padding-top: 10vh;
}
.col-md-6 p {
    margin-top: 3vh;
}
